html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #01204E;
}
P {
  color: white;
  font-family: 'Reboto'; serif;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}
.mensaje p{
  font-family: "comic Sans MS";
  color: yellow;
}
img{
  height: 120px;
  margin: 30px;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenido img{
  margin: 30px;
  height: 350px;
}